
body{
	font-family: Tahoma;
	background: #b6d6f2;
}
h1 {
	font-family: Arial;
	font-size: 16;
	color: #e8e795;
}

h3 {
	font-size: 14;
	color: #8079d4;
	font-style: italic;
}

textarea{
	width: 250px;
	height: 140px;
	display: block;
	margin: 1em 0;

}
